<!DOCTYPE html>
<html>
<head>
    <title>NeuroLingo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="layout">

<div class="sidebar">
    <h2>NeuroLingo</h2>
    <nav>
        <a href="#" onclick="showTranslator()">🏠 Translator</a>
        <a href="#" onclick="showHistory()">📜 History</a>
    </nav>
    <div class="theme-switch">
    <span>🌙</span>

    <label class="switch">
        <input type="checkbox" onchange="toggleDark()">
        <span class="slider"></span>
    </label>

    <span>☀️</span>
</div>
</div>

<div class="main">

<div class="card" id="translator">

<div class="language-row">
    <div class="dropdown" id="sourceDropdown"></div>
    <button onclick="swapLanguages()">⇄</button>
    <div class="dropdown" id="targetDropdown"></div>
</div>

<textarea id="input_text" placeholder="Enter text..."></textarea>

<div class="action-row">
    <button onclick="translateText()">Translate</button>
    <button onclick="startSpeech()">🎤 Mic</button>
    <button onclick="speakText()">🔊 Speak</button>
</div>

<div class="loading" id="loading">
    <div class="spinner"></div>
    Translating...
</div>

<div class="output-box">
    <div id="output_text"></div>
</div>

</div>

<div class="card" id="history" style="display:none;">
    <h3>Translation History</h3>
    <div id="history_list"></div>
</div>

</div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>